@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Fira Code", monospace;
  background-color: rgb(52, 55, 70);
}

input {
  font-family: "Fira Code", monospace !important;
}

p {
  font-family: "Fira Code", monospace !important;
}

[contenteditable] ~ grammarly-extension,
input ~ grammarly-extension,
textarea ~ grammarly-extension {
  display: none;
}

/* @media only screen and (min-width: 1700px) and (max-width: 10000px) { 
  video {
    object-position: 0px -140px !important;
  }
} */
